/* =========================
   PAGE LAYOUT
   ========================= */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* main context area */
main {
  width: 100%;
  max-width: var(--screen-xl);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* media wrapper */
iframe {
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 16 / 9;
  max-height: 75vh;
  border: 0;
  box-shadow: var(--shadow-md);
}
.container {
  min-width: var(--screen-xs);
  max-width: var(--screen-lg);
  width: 92vw;

  container-type: inline-size;
}
@media (max-width: 896px) and (max-height: 480px) {
  .container {
    width: 80vw;
  }
}
