/* =========================
   GRIDS
   ========================= */
.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--space-4);
}
/* =========================
   WRAPPERS
   ========================= */
.panel {
  width: 100%;
  padding: var(--space-4) var(--space-6);
  margin: 0 0 var(--space-4) 0;

  border-radius: var(--rounded);
  box-shadow: var(--shadow-xl);
}
/* =========================
   LOGO
   ========================= */
.logo {
  min-width: 150px;
  max-width: 180px;
  aspect-ratio: 1;
  /* transform: translateY(0); */
  /* background-color: transparent; */
}
/* =========================
   SECTION HEADER
   ========================= */
.section-header {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: var(--space-2);
  margin-bottom: var(--space-6);
}
.section-footer {
  grid-column: 1 / -1;
  text-align: center;
}

.svg-card {
  width: 100px;
  height: 100px;
}
/* =========================
   BUTTONS
   ========================= */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.7em 0.5em;
  border-radius: var(--rounded);

  border: 2px solid var(--accent-500);
  cursor: pointer;

  font-family: var(--font-default);
  font-weight: 600;

  box-shadow: var(--shadow);
  font-size: var(--text-button-fluid);
  white-space: nowrap;
  background-color: var(--pink-t);
  color: var(--accent-500);
  transition:
    transform 120ms ease,
    background-color 120ms ease,
    border-color 120ms ease,
    color 120ms ease;
}
.btn:hover {
  background-color: var(--pink-500);
  color: var(--bg-main);
  box-shadow: var(--shadow-md);
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(1px);
}
.btn:focus-visible {
  outline: 3px solid currentColor;
  outline-offset: 2px;
}
.btn-red {
  color: var(--red-500);
  border: 1px solid var(--red-500);
  color: var(--red-500);
}
btn-red:hover {
  background-color: var(--red-600);
}
/* hamburger links */
.btn-hamburger {
  width: 100%;
  justify-content: flex-start;
  padding: 0.8em 1em;
  border-radius: var(--rounded);
  background: var(--surface-glass);
  color: var(--primary-500);
  border: 1px solid var(--primary-500);
}
/* =========================
   CARD SYSTEM
   ========================= */
.card {
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  gap: var(--space-4);
  padding: var(--space-4);
  /* padding: 5%; */

  border-radius: var(--rounded);
  border: 1.5px solid var(--neutral-100);

  background: var(--surface-glass);
  box-shadow: var(--shadow-md);

  container-type: inline-size;

  font-weight: 700;
  color: var(--red-500);
}
.card-color {
  display: grid;
  place-items: center;
  width: fit-content;
  height: 40px;
  border-radius: var(--rounded);
  border: 1px solid var(--neutral-100);
  font-family: var(--font-default);
  text-shadow: 0 2px 4px white;
}
