.hero {
  font-family: var(--font-default);
  background-image: url("../assets/images/bkg/flow-line.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 200px;
  color: var(--bg-main);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.hero-eyebrow {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}
.hero-sub {
  margin: 0;
  padding-bottom: var(--space-2);
}
/* =========================
   QUOTE HERO
   ========================= */
.hero-quote {
  background-image: url("../assets/images/bkg/stars.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 130px;
  color: var(--bg-main);

  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: var(--font-default); */
}
.hero-quote-text {
  font-family: var(--font-default);
  font-weight: 500;
  margin: 0;
  padding: var(--space-4);

  font-size: min(1.5rem, 3cqi);
  border: 2px solid var(--neutral-100);
  background-color: var(--overlay-dark);

  text-align: center;
}
#hero-2 cite {
  color: var(--neutral-100);
  font-size: min(1rem, 2cqi);
  margin: 0;
}
/* =========================
   COLORS
   ========================= */
.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* =========================
   BENEFITS SECTION
   ========================= */
.benefits .section-header {
  grid-column: span 6;
}
.benefits .card {
  grid-column: span 6;
}
@container (min-width: 640px) and (max-width: 899px) {
  .benefits .card {
    grid-column: span 3;
  }
  .grid-6c figure.card {
    grid-column: span 2;
  }
}
@container (min-width:900px) {
  .benefits .card {
    grid-column: span 2;
  }
}
.benefits .photo {
  height: 100%;
  aspect-ratio: 16 / 9;
}
/* =========================
   MOTS DU COACH SECTION
   ========================= */
.mots-coach .lead {
  line-height: 1.3em;
  grid-column: span 6;
  text-align: justify;
}
.mots-coach img {
  grid-column: 3 / span 2;
}

@container (min-width: 640px) and (max-width: 899px) {
  .mots-coach .lead {
    grid-column: span 4;
    place-self: center;
  }
  .mots-coach img {
    grid-column: 5 / span 2;
  }
}
@container (min-width:900px) {
  .mots-coach .lead {
    grid-column: 2 / span 3;
    place-self: center;
  }
  .mots-coach img {
    grid-column: 5;
  }
}
/* =========================
   PROBLEMS GRID
   ========================= */
.problems-grid {
  font-family: var(--font-default);
  font-weight: 700;
  font-size: min(4cqi, 1.5rem);

  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: var(--space-2);

  grid-template-areas:
    "p-ican p-happy"
    "p-tired p-climb"
    "p-smile p-change";
}
.problems-grid .p-ican {
  grid-area: p-ican;
}
.problems-grid .p-happy {
  grid-area: p-happy;
}
.problems-grid .p-tired {
  grid-area: p-tired;
}
.problems-grid .p-climb {
  grid-area: p-climb;
}
.problems-grid .p-smile {
  grid-area: p-smile;
}
.problems-grid .p-change {
  grid-area: p-change;
}
@container (min-width: 700px) {
  .problems-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "p-ican p-happy p-climb"
      "p-tired p-smile p-change";
  }
}
/* =========================
   WHY-COACHING SECTION
   ========================= */
.flowing {
  position: relative;
  background: url("../assets/images/flowing.avif") center/cover no-repeat fixed;
  color: var(--bg-main);
}
.flowing::before {
  position: absolute;
  inset: 0;
  content: "";
  background: var(--surface-glass);
  pointer-events: none;
}
.why-coaching .media {
  grid-column: span 6;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-4);
}
.why-coaching .media p {
  text-align: center;

  font-weight: 700;
  font-size: 1.3rem;
}
.why-coaching .lead {
  grid-column: span 6;
  text-align: justify;
}
@container (min-width: 640px) and (max-width:899px) {
  .why-coaching .media {
    grid-column: 1 / span 2;
  }
  .why-coaching .lead {
    grid-column: span 4;
  }
}
@container (min-width: 900px) {
  .why-coaching .media {
    grid-column: span 3;
  }
  .why-coaching .lead {
    grid-column: span 3;
    line-height: 1.3rem;
  }
}
/* =========================
   BONHEUR HERO
   ========================= */
.panel.bonheur {
  padding: 0;
  height: calc(80px + 7vw);
  overflow: hidden;
}
.panel.bonheur img {
  width: 100%;
  height: 100%;
}
/* =========================
   BONHEUR HERO
   ========================= */
