.hero {
  font-family: var(--font-default);
  background-image: url("../assets/images/bkg/flow-line.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 200px;
  color: var(--bg-main);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.hero-eyebrow {
  font-family: var(--font-default);
  font-weight: 900;
  color: var(--bg-main);
  font-size: 1.5rem;
  margin: 0;
}
.hero-sub {
  margin: 0;
  padding-bottom: var(--space-2);
}
/* =========================
   HERO ABDEL
   ========================= */
.hero-abdel {
  background-image: url("../assets/images/bkg/stars.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 130px;
  color: var(--bg-main);

  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: var(--font-default); */
}
.hero-abdel-text {
  font-family: var(--font-default);
  font-weight: 500;
  margin: 0;
  padding: var(--space-4);

  font-size: min(1.5rem, 3cqi);
  border: 2px solid var(--neutral-100);
  background-color: var(--overlay-dark);

  text-align: center;
}
.hero-abdel cite {
  color: var(--neutral-100);
  font-size: min(1rem, 2cqi);
  margin: 0;
}
/* =========================
   COLORS
   ========================= */
.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* =========================
   BENEFITS SECTION
   ========================= */
.benefits .card {
  grid-column: span 12;
}
@container (min-width: 640px) and (max-width: 899px) {
  .benefits .card {
    grid-column: span 6;
  }
  .benefits figure.card {
    grid-column: span 4;
  }
}
@container (min-width:900px) {
  .benefits .card {
    grid-column: span 4;
  }
}
.benefits .photo {
  height: 100%;
  aspect-ratio: 16 / 9;
}
/* =========================
   MOTS DU COACH SECTION
   ========================= */
.mots-coach .lead {
  line-height: 1.3em;
  grid-column: span 12;
  text-align: justify;
}
.mots-coach img {
  grid-column: 4 / span 6;
}
@container (min-width: 480px) and (max-width:639px) {
  .mots-coach img {
    grid-column: 5 / span 4;
  }
}
@container (min-width: 640px) and (max-width: 899px) {
  .mots-coach .lead {
    grid-column: span 8;
    place-self: center;
  }
  .mots-coach img {
    grid-column: 10 / span 3;
  }
}
@container (min-width:900px) {
  .mots-coach .lead {
    grid-column: 2 / span 6;
    place-self: center;
  }
  .mots-coach img {
    grid-column: 9 / span 3;
  }
}
/* =========================
   PROBLEMS GRID
   ========================= */
.problems-grid {
  font-family: var(--font-default);
  font-weight: 700;
  font-size: min(4cqi, 1.5rem);

  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: var(--space-2);

  grid-template-areas:
    "p-ican p-happy"
    "p-tired p-climb"
    "p-smile p-change";
}
.problems-grid .p-ican {
  grid-area: p-ican;
}
.problems-grid .p-happy {
  grid-area: p-happy;
}
.problems-grid .p-tired {
  grid-area: p-tired;
}
.problems-grid .p-climb {
  grid-area: p-climb;
}
.problems-grid .p-smile {
  grid-area: p-smile;
}
.problems-grid .p-change {
  grid-area: p-change;
}
@container (min-width: 700px) {
  .problems-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "p-ican p-happy p-climb"
      "p-tired p-smile p-change";
  }
}
/* =========================
   WHY-COACHING SECTION
   ========================= */
.flowing {
  position: relative;
  background: url("../assets/images/flowing.avif") center/cover no-repeat fixed;
  color: var(--bg-main);
}
.flowing::before {
  position: absolute;
  inset: 0;
  content: "";
  background: var(--surface-glass);
  pointer-events: none;
}
.why-coaching .media {
  grid-column: span 12;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-4);
}
.why-coaching .media p {
  text-align: center;

  font-weight: 700;
  font-size: 1.3rem;
}
.why-coaching .lead {
  grid-column: span 12;
  text-align: justify;
}
@container (min-width: 640px) and (max-width:899px) {
  .why-coaching .media {
    grid-column: 1 / span 5;
  }
  .why-coaching .lead {
    grid-column: span 7;
  }
}
@container (min-width: 900px) {
  .why-coaching .media {
    grid-column: span 6;
  }
  .why-coaching .lead {
    grid-column: span 6;
    line-height: 1.3rem;
  }
}
/* =========================
   BONHEUR HERO
   ========================= */
.panel.bonheur {
  padding: 0;
  height: calc(80px + 7vw);
  overflow: hidden;
}
.panel.bonheur img {
  width: 100%;
  height: 100%;
}
/* =========================
   COACHING ADVANTAGES
   ========================= */
.advantages .section-header {
  color: var(--red-500);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}
.advantages .lead {
  grid-column: span 12;
}
.advantages li:nth-child(odd) {
  color: var(--red-500);
}
.advantages img {
  grid-column: span 6;
  justify-self: center;
}
.advantages .image-wrapper {
  grid-column: span 6;
  overflow: hidden;
  aspect-ratio: 4 / 3;
}
.advantages .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@container (min-width: 640px) {
  .advantages ul {
    columns: 2;
    column-gap: var(--space-4);
  }
  .advantages li {
    break-inside: avoid;
  }
  .advantages .icon {
    grid-column: span 3;
  }
  .advantages .image-wrapper {
    grid-column: 2 / span 4;
  }
  .advantages .image-wrapper:last-child {
    grid-column: 8 / span 4;
  }
}
/* =========================
   THEMATHIQUES
   ========================= */
.themathiques .section-header {
  padding: var(--space-4);
  h2,
  h3 {
    color: var(--red-500);
    font-family: var(--font-main);
    font-weight: 900;
  }
  span {
    color: var(--neutral-900);
  }
  border: 2px solid var(--red-500);
}
.themathiques .section-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: var(--space-4);
  color: var(--neutral-900);
  border: 2px solid var(--neutral-900);
  h2 {
    font-family: var(--font-main);
    font-weight: 900;
  }
}
.themathiques .image-wrapper {
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 80%;
}
.themathiques .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.themathiques.card {
  grid-column: span 12;
  height: 100%;
  color: var(--neutral-900);
  p {
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: justify;
  }
  h5 {
    font-weight: bolder;
  }
}
@container (min-width:  480px) and (max-width: 749px) {
  .themathiques.card {
    grid-column: span 6;
  }
}
@container (min-width:  750px) {
  .themathiques.card {
    grid-column: span 4;
  }
  .themathiques .section-footer {
    flex-direction: row;
    text-align: left;
    align-items: center;
    gap: var(--space-4);
    img {
      width: 50%;
    }
  }
}
.themathiques.card:nth-of-type(2) {
  h4,
  .btn {
    color: #2d7e3e;
    border-color: #2d7e3e;
    background-color: var(--bg-main);
    border-radius: 1.5rem;
    padding: 0.6rem 1.1rem;
  }
}
.themathiques.card:nth-of-type(3) {
  h4,
  .btn {
    color: #faccd1;
    border-color: #faccd1;
    background-color: var(--bg-main);
    border-radius: 1.5rem;
    padding: 0.6rem 1.1rem;
  }
}
.themathiques.card:nth-of-type(4) {
  h4,
  .btn {
    color: #42b7dc;
    border-color: #42b7dc;
    background-color: var(--bg-main);
    border-radius: 1.5rem;
    padding: 0.6rem 1.1rem;
  }
}
.themathiques.card:nth-of-type(5) {
  h4,
  .btn {
    color: #854820;
    border-color: #854820;
    background-color: var(--bg-main);
    border-radius: 1.5rem;
    padding: 0.6rem 1.1rem;
  }
}
.themathiques.card:nth-of-type(6) {
  h4,
  .btn {
    color: #8760c2;
    border-color: #8760c2;
    background-color: var(--bg-main);
    border-radius: 1.5rem;
    padding: 0.6rem 1.1rem;
  }
}
.themathiques.card:nth-of-type(7) {
  h4,
  .btn {
    color: #d3ad39;
    border-color: #d3ad39;
    background-color: var(--bg-main);
    border-radius: 1.5rem;
    padding: 0.6rem 1.1rem;
  }
}
/* =========================
   HERO SHETTY
   ========================= */
.hero-shetty {
  background-image: url("../assets/images/bkg/hero-stars.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 130px;
  color: var(--bg-main);

  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: var(--font-default); */
}
.hero-shetty-text {
  font-family: var(--font-default);
  font-weight: 500;
  margin: 0;
  padding: var(--space-4);

  font-size: min(1.5rem, 3cqi);
  border: 2px solid var(--neutral-100);
  background-color: var(--overlay-dark);

  text-align: center;
}
.hero-shetty cite {
  color: var(--neutral-100);
  font-size: min(1rem, 2cqi);
  margin: 0;
}
