html,
body {
  height: 100%;
}

body {
  font-family: var(--font-main);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1,
h2 {
  font-weight: 400;
  font-family: var(--font-hand);
}
h3,
h4 {
  font-weight: 700;
  font-family: var(--font-main);
}

p {
  max-width: 65ch;
}

a {
  color: inherit;
  text-decoration: none;
}
