body {
  background-color: var(--bg-main);
  color: var(--neutral-900);
}
section {
  border-radius: var(--rounded);
  box-shadow: var(--shadow-xl);
}
#header {
  /* background-image: url("/assets/images/bkg/clouds.png"); */
  background-image: image-set(
    url("../assets/images/bkg/clouds.avif") type("image/avif"),
    url("../assets/images/bkg/clouds.webp") type("image/webp"),
    url("../assets/images/bkg/clouds.png") type("image/png")
  );
  border-radius: var(--rounded);
  padding: var(--space-4) 0;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center center;
  box-shadow: inset 0 0 20px 20px var(--bg-main);
}
#hero {
  background-image: url("../assets/images/flow-line.avif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 200px;
}
