.header {
  /* background-image: url("/assets/images/bkg/clouds.png"); */
  background-image: image-set(
    url("/assets/images/bkg/clouds.avif") type("image/avif"),
    url("/assets/images/bkg/clouds.webp") type("image/webp"),
    url("/assets/images/bkg/clouds.png") type("image/png")
  );
  border-radius: var(--rounded);
  padding: var(--space-4) 0;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center center;
  box-shadow: inset 0 0 20px 20px var(--bg-main);
}
/* BUTTONS */
.btn {
  vertical-align: middle;
  flex: 1;
  cursor: pointer;
  font-family: var(--font-default);
  font-weight: 700;
  border-radius: var(--rounded);
  white-space: nowrap;
  padding: 0.25em 0.5em;
  font-size: var(--text-button-fluid);
  line-height: 1.2;
  background-color: var(--shadow-subtle);
  display: inline-block;
  transition: background var(--transition-speed);
  color: var(--accent-500);
  border: 1px solid var(--accent-500);
}
.btn:hover {
  background-color: var(--accent-500);
  color: var(--bg-main);
}
.btn:focus-visible {
  outline: 3px solid var(--accent-500);
  outline-offset: 2px;
}
.btn-red {
  color: var(--red-500);
  border: 1px solid var(--red-500);
}
.btn-hamburger {
  width: 100%;
  color: var(--primary-500);
  border: 1px solid var(--neutral-100);
  border-radius: var(--rounded);
}
/* CARDS */
.card {
  /* Layout */
  padding: var(--space-6);
  width: 100%;
  aspect-ratio: 1;
  max-width: 350px;
  /* Visual */
  background-color: var(--primary-100);
  border: 1px solid var(--neutral-100);
  border-radius: var(--rounded);
  /* opacity: 0.7; */
  /* Depth */
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* Typography */
  font-weight: 700;
  font-size: var(--text-fluid);
  color: var(--red-500);
  /* Container query */
  container-type: inline-size;
}
.card:nth-child(2n) {
  background-color: var(--primary-200);
}
.card > svg {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16))
    drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.23));
}
.card > p {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16))
    drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.23));
}
.card-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-4);
}
.card-color {
  text-shadow: 0 2px 4px white;
}
