main,
nav,
header,
footer {
  /* max-width: var(--screen-xs); */
}
* {
  /* outline: 1px dashed red; */
}
.container {
  /* outline: 1px solid blue; */
  /* max-width: var(--screen-xs); */
}
.debug {
  outline: 4px dotted black;
}
