body {
  width: 100%;
  min-height: 100vh;
}
main {
  min-width: var(--screen-xs);
  max-width: var(--screen-xl);
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
}
footer {
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  padding: var(--space-12) 0;
  text-align: center;
}
iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  max-height: 75vh;
  border: 0;
  box-shadow: var(--shadow-md);
}
