section {
  margin-top: var(--space-8);
}
body {
  width: 100%;
  min-height: 100vh;
  border: 1px solid red;
}
main {
  min-width: var(--screen-xs);
  max-width: var(--screen-xl);
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
}
header,
footer {
  width: 100%;
  min-height: 100px;
  padding: var(--space-12) 0;
  text-align: center;
}
iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
  box-shadow: var(--shadow-md);
}
.container {
  width: 100%;
  min-width: var(--screen-xs);
  max-width: var(--screen-lg);
  padding: 0 var(--space-4);

  container-type: inline-size;
  container-name: container-width;
}
.card {
  container-type: inline-size;
  container-name: card-width;
}
.logo {
  width: 100px;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}
