body {
  width: 100%;
  min-height: 100vh;
}
main {
  min-width: var(--screen-xs);
  max-width: var(--screen-xl);
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
}
@media (max-width: 896px) and (max-height: 480px) {
  main {
    width: 80vw;
  }
}
section {
  margin-bottom: var(--space-4);
}
.logo {
  min-width: 150px;
  max-width: 180px;
  aspect-ratio: 1;
  transform: translateY(0);
  background-color: transparent;
}

.header {
  margin-top: var(--space-2);
  max-height: 500px;
  width: 100%;
  gap: var(--space-2);
}
.header h1 {
  white-space: nowrap;
  max-width: 300px;
  margin-bottom: 0;
}
.header > * {
  flex: 1 1;
}
.header p {
  min-width: 300px;
  margin-bottom: 0;
}
.header-text {
  align-self: self-end;
}
footer {
  width: 100%;
  min-height: 100px;
  padding: var(--space-12) 0;
  text-align: center;
}
iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
  box-shadow: var(--shadow-md);
}
