body {
  width: 100%;
  min-height: 100vh;
}
main {
  min-width: var(--screen-xs);
  max-width: var(--screen-xl);
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
}
@media (max-width: 896px) and (max-height: 480px) {
  container {
    width: 80vw;
  }
}
/* .video-wrapper { */
/*   max-height: 80vh; */
/* } */
/* iframe { */
/*   max-height: 80vh; */
/*   /* width: auto; */
*/
  /*   max-width: 100%; */
  /* } */
.logo {
  min-width: 150px;
  max-width: 180px;
  aspect-ratio: 1;
  transform: translateY(0);
  background-color: transparent;
}

.header-text {
  align-self: self-end;
}
footer {
  width: 100%;
  min-height: 100px;
  padding: var(--space-12) 0;
  text-align: center;
}
iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  max-height: 75vh;
  border: 0;
  box-shadow: var(--shadow-md);
}
