body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  min-width: var(--screen-xs);
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
}
header {
  width: 100%;
  height: 200px;
  padding: var(--space-8) 0;
}
footer {
  /* 4. Footer stays at the bottom and takes only the space it needs */
  width: 100%;
  height: 200px;
  padding: var(--space-8) 0;
}
/* LAYOUT  */
.container {
  width: 100%;
  min-width: var(--screen-xs);
  max-width: var(--screen-lg);
  padding: 0 var(--space-4);
  margin: 0 auto;

  container-type: inline-size;
  container-name: container-width;
}
.logo {
  width: 100px;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: var(--space-4); */
}
/* COMPONENTS */
