html {
  /* scroll-snap-type: y proximity; */
  /* scroll-padding-top: var(--mobile-touch); */
}
section {
  /* scroll-snap-align: start; */
  /* margin-top: var(--space-8); */
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  min-width: var(--screen-xs);
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
}
header {
  width: 100%;
  min-height: 100px;
  padding: var(--space-12) 0;
  text-align: center;
}
footer {
  /* 4. Footer stays at the bottom and takes only the space it needs */
  width: 100%;
  min-height: 100px;
  padding: var(--space-12) 0;
}
/* LAYOUT  */
.container {
  width: 100%;
  min-width: var(--screen-xs);
  max-width: var(--screen-lg);
  padding: 0 var(--space-4);
  margin: 0 auto;

  container-type: inline-size;
  container-name: container-width;
}
.logo {
  width: 100px;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}
.flex-column {
  display: flex;
  flex-direction: column;
  /* gap: var(--space-4); */
}
.flex-row {
  display: flex;
  flex-direction: row;
  /* gap: var(--space-4); */
}
/* COMPONENTS */
.center {
  justify-content: center;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
  box-shadow: var(--shadow-md);
}
