.navigation {
  position: sticky;
  border-bottom: 2px solid var(--neutral-100);
  position: -webkit-sticky;
  width: 100%;
  min-width: var(--screen-xs);
  height: var(--mobile-touch);
  z-index: 9999;
  top: 0;
}
.nav-content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes buttons to left and Hamburger to right */
  width: 100%; /* Stretch inside the max-width */
  height: 100%;
}
.nav-main {
  height: var(--mobile-touch);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--surface-glass);
  isolation: isolate;
  flex: 1;
  gap: var(--space-2);
  padding: var(--space-2);
  margin-top: 0;
  margin-bottom: 0;
}
.nav-main::before {
  content: "";
  backdrop-filter: blur(1px);
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
}
.nav-main > li {
  flex: 1;
  max-width: 175px;
}
.nav-main > li > a {
  flex: 1;
}
nav ul {
  margin-top: 0;
  margin-bottom: 0;
}
nav li {
  margin-top: 0;
  margin-bottom: 0;
}
.nav-checkbox {
  display: none;
}
@container (max-width: 330px) {
  #Home {
    display: none;
  }
}
.nav-list {
  backdrop-filter: blur(1px);
  isolation: isolate;
  background: var(--surface-glass);
  border-left: 1.5px solid var(--neutral-100);
  border-radius: var(--rounded-md);
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--space-1);
  padding: var(--space-1);
  position: absolute;
  top: var(--mobile-touch);
  right: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition-speed-slow);
}

.nav-checkbox:checked ~ .nav-list {
  background: var(--surface-glass);
  backdrop-filter: blur(1px);
  isolation: isolate;
  max-height: 100vh;
  visibility: visible;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: 0.4s;
}

.nav-checkbox:checked ~ .hamburger .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.nav-checkbox:checked ~ .hamburger .bar:nth-child(2) {
  opacity: 0;
}
.nav-checkbox:checked ~ .hamburger .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
