#header {
  /* background-image: url("/assets/images/bkg/clouds.png"); */
  background-image: image-set(
    url("../assets/images/bkg/clouds.avif") type("image/avif"),
    url("../assets/images/bkg/clouds.webp") type("image/webp"),
    url("../assets/images/bkg/clouds.png") type("image/png")
  );
  border-radius: var(--rounded);
  padding: var(--space-4) 0;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center center;
  box-shadow: inset 0 0 20px 20px var(--bg-main);
}
#header > p {
  font-family: var(--font-default);
  min-width: 300px;
  margin-bottom: 0;
  vertical-align: bottom;
}
#header h1 {
  white-space: nowrap;
  padding-right: 0.5em;
  max-width: 300px;
  margin-bottom: 0;
}
#hero {
  background-image: url("../assets/images/flow-line.avif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 200px;
  color: var(--bg-main);
  font-family: var(--font-default);
}
#hero > p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
#mots-du-coach img {
  min-width: 150px;
  width: 220px;
  max-width: 40%;
  aspect-ratio: 3 / 3.7;
}
#mots-du-coach .text {
  max-width: 60%;
}
