main {
  background-color: antiquewhite;
}
/* COMPONENTS */
.button {
  white-space: nowrap;
  border: 1px solid black;
  border-radius: var(--rounded-xl);
  padding: 0.25em 0.5em;
  font-size: var(--text-xs);
  line-height: var(--lh-xs);
  @container container-width (max-width: var(--screen-md)) {
    & {
      font-size: var(--text-sm);
      line-height: var(--lh-sm);
    }
  }
}
@container container-width (max-width: var(--screen-md)) {
  .button {
    font-size: var(--text-sm);
    line-height: var(--lh-sm);
  }
}
