body {
  background-color: var(--bg-main);
  color: var(--neutral-900);
}
main {
  /* background-color: var(--bg-main); */
}
h1,
h2,
h3 {
  font-family: var(--font-hand);
}

/* COMPONENTS */
.card {
  border: 1px solid var(--neutral-100);
  border-radius: var(--size-1);
  width: 100%;
  aspect-ratio: 1;
  max-width: 400px;
  background-color: var(--pink-100);
}
.card-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-6);
}
.card-color {
  text-shadow: 0 2px 4px white;
  /* min-width: 75px; */
  /* aspect-ratio: 1; */
}
.button {
  flex: 1;
  font-weight: 700;
  background-color: var(--shadow-subtle);
  white-space: nowrap;
  border: 1px solid var(--red-500);
  color: var(--red-500);
  border-radius: var(--rounded-xl);
  padding: 0.25em 0.5em;
  font-size: var(--text-xs);
  line-height: var(--lh-xs);
  @container (min-width: 320px) {
    & {
      font-size: var(--text-sm);
      line-height: var(--lh-sm);
    }
  }
  @container (min-width: 375px) {
    & {
      font-size: var(--text-base);
      line-height: var(--lh-base);
    }
  }
  @container (min-width: 640px) {
    & {
      font-size: var(--text-lg);
      line-height: var(--lh-lg);
    }
  }
}
.button-hamburger {
  font-weight: 700;
  color: var(--primary-500);
  display: inline-block;
  width: 100%;
  border: 1px solid var(--neutral-100);
  border-radius: var(--rounded-md);
}
.border-light {
  border: 1.5px solid var(--neutral-100);
}
h1 {
  background: linear-gradient(90deg, var(--primary-500), var(--pink-500));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
