.debug {
  outline: 2px dashed red !important;
}
/* GAPS */
.gap-4 {
  gap: var(--space-4);
}
.gap-6 {
  gap: var(--space-6);
}
.gap-8 {
  gap: var(--space-8);
}
.gap-16 {
  gap: var(--space-16);
}
.gap-d {
  gap: clamp(var(--space-1), 2vh, var(--space-6));
}
/* LAYOUT */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-between {
  justify-content: space-between;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
/* VISUAL */
.border-light {
  border: 1.5px solid var(--neutral-100);
}
