.debug {
  outline: 2px dashed red !important;
}
/* GAPS */
.gap-4 {
  gap: var(--space-4);
}
.gap-6 {
  gap: var(--space-6);
}
.gap-8 {
  gap: var(--space-8);
}
.gap-16 {
  gap: var(--space-16);
}
.gap-d {
  gap: clamp(var(--space-1), 2vh, var(--space-6));
}
/* LAYOUT */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-center {
  justify-content: center;
}
.flex-evenly {
  justify-content: space-evenly;
}
.flex-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.wrap-balance {
  text-wrap: balance;
}
.text {
  max-width: 65ch;
  min-width: 300px;
}
.view-height {
  max-height: 100vh;
}
/* VISUAL */
.border-light {
  border: 1.5px solid var(--neutral-100);
}
.video-wrapper {
  position: relative;
  width: 100%;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  border: var(--border-normal) var(--pink-500);
  border-radius: var(--rounded);
  box-shadow: var(--shadow-md);
}
