.debug {
  outline: 2px dashed red !important;
}
/* GAPS */
.gap-4 {
  gap: var(--space-4);
}
.gap-6 {
  gap: var(--space-6);
}
.gap-8 {
  gap: var(--space-8);
}
.gap-16 {
  gap: var(--space-16);
}
.gap-d {
  gap: clamp(var(--space-1), 2vh, var(--space-6));
}
/* LAYOUT */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-evenly {
  justify-content: space-evenly;
  align-items: center;
}
.flex-around {
  justify-content: space-around;
  align-items: center;
}
.flex-between {
  justify-content: space-between;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-end {
  align-items: flex-end;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-flex {
  width: 60%;
  min-width: 320px;
}
.photo {
  /* flex: 1; */
  width: 30%;
  aspect-ratio: 3 / 4;
  min-width: 150px;
  max-width: 250px;
  border: var(--border-normal) var(--pink-500);
  border-radius: var(--rounded);
  box-shadow: var(--shadow-xl);
  margin: var(--space-4);
}
/* VISUAL */
.border-light {
  border: 1.5px solid var(--neutral-100);
}
