@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Indie+Flower&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Cal Sans", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
  background-color: lightgoldenrodyellow;
  /* outline: 2px dashed red; */
}
ul,
li {
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3 {
  font-family: "Indie Flower", cursive;
  color: forestgreen;
}
p {
  color: dimgrey;
}

header {
  max-width: 1200px;
  margin: 40px auto;
  border-bottom: 2px solid forestgreen;
  text-wrap: balance;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  min-width: 320px;
  margin: 20px auto;
}
article p {
  max-width: 65ch;
}
article img {
  align-self: center;
  justify-self: center;
  max-height: 90vh;
  width: auto;
  max-width: 100%;
  border: 2px solid saddlebrown;
  border-radius: 1rem;
}
article.featured {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  /* justify-items: center; */
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 2px solid forestgreen;
}
@media screen and (max-width: 980px) {
  article {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
  }
}
@media screen and (max-width: 760px) {
  article,
  article.featured,
  header {
    display: block;
    margin: 0 20px;
  }
}
