/* Header / Footer */
.site-header,
.site-footer {
  padding-block: var(--space-2);
  background: #fff;
  color: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}
.header-inner {
  display: grid;

  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    "logo title title"
    "logo nav   nav";

  gap: var(--space-2);
  align-items: center;
  display: grid;
}

.header-logo {
  grid-area: logo;
}

.header-title {
  grid-area: title;
}

.header-nav {
  grid-area: nav;
}
.header-logo {
  height: 180px;
  width: 180px;
  background: url("../assets/images/logo") center / contain no-repeat;
}
/* Intro / sections */
.hero {
  width: 100%;
  min-height: 200px;
  padding-block: var(--space-3);
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("../assets/images/flow-line.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  background: var(--color-glass);
}
.section {
  border-radius: var(--radius);
  padding: var(--space-4);
  text-align: center;
}
.benefits-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--space-1);
  gap: var(--space-1);
}
/* Card component */
.card {
  --accent: var(--color-text);

  background: var(--color-glass);
  border: 1.3px solid var(--accent);
  border-radius: var(--radius);

  width: 280px;
  aspect-ratio: 1 / 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}

.image-card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-wealth {
  background-image: url("../assets/images/wealth.avif");
}

.image-alive {
  background-image: url("../assets/images/alive.avif");
}

.image-love {
  background-image: url("../assets/images/love.avif");
}

.card__header {
  width: 100%;
  padding: var(--space-3);
  border-bottom: 0.4rem solid var(--accent);
}

.card__body {
  padding: var(--space-3);
}

.price {
  font-size: clamp(3rem, 5vw, 4.5rem);
  font-weight: 700;
  white-space: nowrap;
}

.offer {
  font-weight: 700;
  color: var(--accent);
}

/* Variants */
.card--red {
  --accent: var(--accent-red);
}
.card--yellow {
  --accent: var(--accent-yellow);
}
.card--green {
  --accent: var(--accent-green);
}

/* Button */
.button {
  margin-bottom: var(--space-2);
  padding: 0.5em 1.2em;
  border: 1px solid black;
  border-radius: 1em;
  background: #fff;
  color: #000;
  font-family: Arial, sans-serif;
}
